@media (min-width: 992px) and (max-width:1199.98px){


  .about-head{
    padding-top: 150px;
    padding-bottom: 150px !important;
   
  }
  /*=========promotion.html========*/  
  .navbar-nav .silo{
    /* width: 150px;
    margin-left: 270px !important;
    margin-top: 20px !important; */
    display: none !important;
  }
  .promotion-coin{
    display: none;
  }
  .player-promotion {
    padding-bottom: 77px !important;
   
  }
  .player-promotion .player-promo-item {
    margin-top: -125px !important;
    /* margin-bottom: -90px !important; */
   
  }
  .player-promotion .player-promo-item {
   margin-top: 90px;
   margin-bottom: -240px;
   width: 100% !important;
  }
  .promo-offer1{
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
    margin-left: 460px !important;
    margin-top: 200px !important;
  }
  .promo-offer2{
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
    margin-left: 260px !important;
    margin-top: -50px !important;
    
  }
  .promo-offer3{
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
   
   /* margin-right: 0px !important;
   margin-top: 200px !important; */
    
   
  }
  .promo-offer4{
    /* display: none !important; */
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
    margin-left: 350px !important;
    margin-top: 50px !important;
  }
  .overlay4{
    animation: none !important;
  }
  .player-promo-text{
    width: 100% !important;
    margin-top: 300px;
    margin-left: 100px;
  }
  .player-promo-text h1{
    font-size: 40px !important;
    
  }
 
}


@media (min-width: 768px) and (max-width:991.98px){
  .navbar {
    
    position: static;
    top: 0;
    left: 0;
    
  }
  .navbar-toggler{
    border-color: #fff;
    margin-right: 10px;
  }
  .navbar-toggler span{
    color: #fcb100;
  }
  .navbar-nav{
    text-align: center;
    background: #944bff !important;
    padding-bottom: 30px !important;
    padding-top: 50px !important;
  }
  .nav-link{
    background: #fcb100 !important;
  }
  .navbar-nav .silo{
    width: 150px;
    margin-left: 270px !important;
    margin-top: 20px !important;
  
  }
  .navbar .navbar-nav .last {
    padding-right: 30px !important;
  }
  #banner .ban-left-img {
    margin-top: -30px !important;
  }
  #banner .ban-ri-text{
    
    margin-top: -30px !important; 
  
  }
  #banner .ban-ri-text h1 {
    
    font-size: 220px !important;
    margin-top: -12px !important;
    
  }
  #banner .ban-ri-text p{
    padding-right: 30px !important;
    margin-top: -20px !important;
    text-align: justify !important;
  }
  
  #banner .ban-ri-text a{
    margin-left: 83px!important;
    margin-top: 10px;
  }
  #banner {
    padding-bottom: 190px !important;
    padding-top: 154px !important;
  }
  
   .about-text {
    
    margin-bottom: 5px !important;
  }  
   .about-text {
   
    padding: 20px 0 !important;
  }
   .about-text p{
    padding: 0 !;
  }
  .game-item{
    margin-top: 30px!important;
  }
  #spin {
    padding-top: 0 !important;
  }
  .spin-img{
    margin-top: 90px !important;
  }
  
  #faq .less h1{
    margin-top: 50px !important;
  }
  .method input {
    width: 285px !important;
    
  }
  .method button {
    
    margin-left: -9px !important;
  }
  .method .payment {
    
    padding-bottom: 20px !important;
  }
  .method .payment a{
    margin-right: 0 !important;
  }
  #footer .socail {
    
    margin-bottom: 29px !important;
  }

  #faq {
    
    padding-top: 50px !important;
    
    
  }
  .faqlight .faq-light img {
    
    bottom: -201px !important;
    
  }

  /*=========about.html========*/

  .about-head{
    margin-top: -75px;
    padding-bottom: 56px !important;
   
  }
  .spin-img{
    padding-top: 80px !important;
  
  }
   .about-spin-text{
    padding-top: 140px !important;
  
  }
  .about-spin-text span{
    font-size: 14px !important;
  
  }
  /*=========promotion.html========*/
  .player-promotion {
    
    padding-bottom: 50px !important;
  }
  .promotion-coin{
    display: none;
  }
  .player-promotion .player-promo-item {
   margin-top: 90px;
   margin-bottom: -240px;
  }
  .promo-offer1{
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
    margin-left: 360px;
  }
  .promo-offer2{
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
    margin-left: 360px;
    margin-top: 30px;
  }
  .promo-offer3{
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
    margin-left: 200px;
    margin-top: 150px;
  }
  .promo-offer4{
    /* display: none !important; */
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
    margin-left: 200px;
    margin-top: 30px;
  }
  .overlay4{
    animation: none !important;
  }
  .player-promo-details{
    /* display: none !important; */
  }
  .player-promo-text{
    width: 100%!important;
    padding-left: 40px !important;
    padding-right: 30px !important;
    margin-top: 200px;
    
  }
  .player-promo-text h1{
    font-size: 50px !important;
    padding-left: 13px !important;
  }
  .player-promo-text p{
    padding-left: 13px !important;
    padding-right: 13px !important;
  }
  .bonus .bonus-content p {
    
    padding-left: 13px !important;
    padding-right: 13px !important;
    
  }
  .bonus {
    
    padding-top: 67px !important;
    padding-bottom: 67px !important;
    
  }
  .games-games{
    padding-bottom: 46px !important;
    padding-top: 147px !important;
  }
  .member-pricing {
    padding-top: 127px !important;
  }
  .con-location {
    margin-left: 45px !important;
    width: 100% !important;
  }
  
} 

/*=============medium device end============*/


/*=============small device start============*/

 @media (min-width: 576px) and (max-width:767.98px){
  .navbar {
    
    position: static;
    top: 0;
    left: 0;
    
  }
  .navbar-toggler{
    border-color: #fff;
    margin-right: 10px;
  }
  .navbar-toggler span{
    color: #fff;
  }
  .navbar-nav{
    text-align: center;
    background: #944bff !important;
    padding-bottom: 30px !important;
    padding-top: 50px !important;
  }
  .nav-link{
    background: #fcb100 !important;
  }
  .navbar-nav .silo{
    width: 150px;
    margin-left: 200px !important;
    margin-top: 20px !important;
  }
  .navbar .navbar-nav .last {
    padding-right: 30px !important;
  }
  
  #banner{
    padding-bottom: 735px!important;
    display: block;
  }
  #banner .ban-left-img {
     margin-top: -100px !important;
     margin-left: 70px; 
    width: 70% !important;
  }
  
  #banner .ban-ri-text{
    text-align: center;
    
    width: 100% !important;
  }
  #banner .ban-ri-text span{
    margin-right: 150px !important;
  }
  #banner .ban-ri-text h1 {
    
    font-size: 148px !important;
    margin-top: -12px !important;
    margin-right: 150px !important;

    
  }
  #banner .ban-ri-text p{
    padding-right: 150px !important;
    margin-top: -20px !important;
    margin-left: -5px!important;
  }
  
  #banner .ban-ri-text a{
    margin-left: -160px!important;
    margin-top: 10px;
  }
  #banner {
    padding-bottom: 190px !important;
    padding-top: 154px !important;
  }
  .about-banner{
   
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%) !important;
    transform: translateY(-15%) !important;
} 
 .about-text {
    
    margin-bottom: 30px !important;
  } 
   .about-text {
   
    padding: 20px 0 !important;
  }
   .about-text p{
    padding: 0 !;
  } 
  .game-item{
    margin-top: 30px!important;
  }
  #spin {
    padding-top: 0 !important;
  }
  .spin-img{
    margin-top: 90px !important;
  }
  #faq .less h1{
    margin-top: 50px !important;
  }
  .method .payment {
    
    padding-bottom: 20px !important;
  }
  #footer .socail {
    
    margin-bottom: 29px !important;
  }

  #faq {
    
    padding-top: 50px !important;
    
    
  }

  /*=========about.html========*/
  .about-head{
    margin-top: -75px;
    margin-bottom: -200px;
  }
  .about-spin{
    padding-top: 350px !important;
  }
  
  .about-games {
    
    padding-bottom: 48px !important;
  }
  .about-spin-text{
    padding-top: 330px !important;
  }
  .about-spin-text p{
    padding-right: 90px !important;
  }


   /*=========promotion.html========*/
   .player-promotion {
    
    padding-bottom: 50px !important;
  }
  .promotion-coin{
    display: none;
  }
  .player-promotion .player-promo-item {
   margin-top: 200px;
   margin-bottom: -240px;
  }
  .promo-offer1{
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
    margin-left: 270px;
  }
  .promo-offer2{
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
    margin-left: 270px;
    margin-top: 30px;
  }
  .promo-offer3{
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    animation: none !important;
    margin-left: 110px;
    margin-top: 150px;
  }
  .promo-offer4{
    display: none !important;
  }
  
  
  .player-promo-text{
    width: 100%!important;
    padding-left: 40px !important;
    padding-right: 30px !important;
    margin-top: 200px;
  }
  .player-promo-text h1{
    font-size: 40px !important;
  }
  .bonus .bonus-content p {
    
    padding-left: 13px !important;
    padding-right: 13px !important;
    
  }
  .bonus {
    
    padding-top: 67px !important;
    padding-bottom: 67px !important;
    
  }

  .games-games{
    padding-bottom: 46px !important;
    padding-top: 329px !important;
  }

  #contact{
    padding-top: 415px !important;
  }
  #contact .contact-item {
    margin-left: 100px !important;
  }
} 
  
  


/*=============small device end============*/

/*=============exrta small device start============*/

@media (min-width:300px) and (max-width: 575.98px){

  .navbar {
    
    position: static;
    top: 0;
    left: 0;
    
  }
  .navbar-toggler{
    border-color: #fff;
    margin-right: 10px;
  }
  .navbar-toggler span{
    color: #fff;
  }
  .navbar-nav{
    text-align: center;
    background: #944bff !important;
    padding-bottom: 30px !important;
    padding-top: 50px !important;
  }
  .nav-link{
    background: #fcb100 !important;
  }
  .navbar-nav .silo{
    width: 150px;
    margin-left: 100px !important;
    margin-top: 20px !important;
  }
  .navbar .navbar-nav .last {
    padding-right: 30px !important;
  }
  #banner{
    padding-bottom: 735px!important;
    display: block;
  }
  #banner .ban-left-img {
     margin-top: -100px !important;
     margin-left: 70px; 
    width: 70% !important;
  }
  
  #banner .ban-ri-text{
    text-align: center;
    margin-left: 0 !important;
    width: 100% !important;
  }
  #banner .ban-ri-text span{
    margin-right: 0 !important;
  }
  #banner .ban-ri-text h1 {
    font-size: 137px !important;
    margin-top: -12px !important;
    margin-right: 0 !important;
  }
  #banner .ban-ri-text p {
    padding-right: 20px !important;
    margin-top: -20px !important;
    margin-left: 0px !important;
    padding-left: 20px !important;
  }
  
  #banner .ban-ri-text a{
    margin-left: -3px!important;
    margin-top: 10px;
  }
  #banner {
    padding-bottom: 190px !important;
    padding-top: 154px !important;
  }
  .about-banner{
    
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%) !important;
    transform: translateY(-15%) !important;
} 
 .about-text {
    
    margin-bottom: 30px !important;
  } 
   .about-text {
   
    padding: 20px 0 !important;
  }
   .about-text p{
    padding: 0 !;
  }
  .game-item{
    margin-top: 30px!important;
  }
  #spin .spin-text h1 {
    
    font-size: 42px !important;
     
   }
   #spin .spin-text p,
   #spin .spin-text .choto
    {
   
    padding-right: 50px !important;
  }
  #faq {
    padding-top: 0 !important;
  }
  #faq .heading h1 {
    margin-top: 50px;
    font-size: 30px !important;
    margin-left: 25px !important;
  }
  .countdown{
    display: block !important;
  }
  .countdown .time {
    
    font-size: 20px !important;
   
  }
  .countdown #count {
    
    margin-bottom: 47px !important;
    margin-top: 25px !important;
    margin-left: 42px !important;
  }
  .countdown .time {
    
    margin-left: 76px !important;
  }
  #count div{
    padding:  0 10px !important;
  }
  .nscroll p .name {
    
    margin-right: 45px !important;
  }
  .nscroll p .dolar {
    
    margin-left: 40px !important;
  }
  .method input {
    width: 270px !important;
  
  }
  
  .method .payment {
    
    padding-bottom: 20px !important;
  }
  .method .payment a {
    margin-right: -3px;
  }
  #footer .socail {
    
    margin-bottom: 29px !important;
  }
  .lastlight .tos-light img{
    bottom: 0 !important;
  }
 /*=========about.html========*/
  .about-head{
    margin-top: -75px;
    margin-bottom: -200px;
  }
  .about-spin{
    padding-top: 350px !important;
  }
  .about-spin .about-spin-text span {
    display: none;
  }
  .about-games {
    
    padding-bottom: 48px !important;
  }

  /*=========promotion.html========*/
  .player-promotion {
    
    padding-bottom: 50px !important;
  }
  .promotion-coin{
    display: none;
  }
  .player-promo-details{
    display: none !important;
  }
  .player-promo-text{
    width: 100%!important;
    padding-left: 40px !important;
    padding-right: 30px !important;
    margin-top: 200px;
  }
  .player-promo-text h1{
    font-size: 25px !important;
  }
  .bonus .bonus-content p {
    
    padding-left: 18px !important;
    padding-right: 18px !important;
    
  }
  .bonus {
    
    padding-top: 67px !important;
    padding-bottom: 67px !important;
    
  }

  .games-games{
    padding-bottom: 46px !important;
    padding-top: 329px !important;
  }
  .member-pricing {
    padding-top: 293px !important;
  }
  #contact{
    padding-top: 415px !important;
  }
  #contact .contact-item {
    margin-left: 50px !important;
  }
} 
/*=============exrta small device end============*/