

@media (min-width: 768px) and (max-width:991.98px){
  .navbar {
    
    position: static;
    top: 0;
    left: 0;
    
  }
  .navbar-toggler{
    border-color: #fff;
    margin-right: 10px;
  }
  .navbar-toggler span{
    color: #fcb100;
  }
  .navbar-nav{
    text-align: center;
    background: #944bff !important;
    padding-bottom: 30px !important;
    padding-top: 50px !important;
  }
  .nav-link{
    background: #fcb100 !important;
  }
  .navbar-nav .silo{
    width: 150px;
    margin-left: 90px !important;
    margin-top: 20px !important;
  }
  .navbar .navbar-nav .last {
    padding-right: 30px !important;
  }
  #banner .ban-left-img {
    margin-top: -30px !important;
  }
  #banner .ban-ri-text{
    
    margin-top: -30px !important; 
  
  }
  #banner .ban-ri-text h1 {
    
    font-size: 220px !important;
    margin-top: -12px !important;
    
  }
  #banner .ban-ri-text p{
    padding-right: 30px !important;
    margin-top: -20px !important;
    text-align: justify !important;
  }
  
  #banner .ban-ri-text a{
    margin-left: 83px!important;
    margin-top: 10px;
  }
  #banner {
    padding-bottom: 190px !important;
    padding-top: 154px !important;
  }
  
   .about-text {
    
    margin-bottom: 5px !important;
  }  
   .about-text {
   
    padding: 20px 0 !important;
  }
   .about-text p{
    padding: 0 !;
  }
  .game-item{
    margin-top: 30px!important;
  }
  #spin {
    padding-top: 0 !important;
  }
  .spin-img{
    margin-top: 90px !important;
  }
  
  #faq .less h1{
    margin-top: 50px !important;
  }
  .method input {
    width: 285px !important;
    
  }
  .method button {
    
    margin-left: -9px !important;
  }
  .method .payment {
    
    padding-bottom: 20px !important;
  }
  .method .payment a{
    margin-right: 0 !important;
  }
  #footer .socail {
    
    margin-bottom: 29px !important;
  }

  #faq {
    
    padding-top: 50px !important;
    
    
  }
  .faqlight .faq-light img {
    
    bottom: -201px !important;
    
  }

} 

/*=============medium device end============*/


/*=============small device start============*/

 @media (min-width: 576px) and (max-width:767.98px){
  .navbar {
    
    position: static;
    top: 0;
    left: 0;
    
  }
  .navbar-toggler{
    border-color: #fff;
    margin-right: 10px;
  }
  .navbar-toggler span{
    color: #fff;
  }
  .navbar-nav{
    text-align: center;
    background: #944bff !important;
    padding-bottom: 30px !important;
    padding-top: 50px !important;
  }
  .nav-link{
    background: #fcb100 !important;
  }
  .navbar-nav .silo{
    width: 150px;
    margin-left: 200px !important;
    margin-top: 20px !important;
  }
  .navbar .navbar-nav .last {
    padding-right: 30px !important;
  }
  
  #banner{
    padding-bottom: 735px!important;
    display: block;
  }
  #banner .ban-left-img {
     margin-top: -100px !important;
     margin-left: 70px; 
    width: 70% !important;
  }
  
  #banner .ban-ri-text{
    text-align: center;
    
    width: 100% !important;
  }
  #banner .ban-ri-text span{
    margin-right: 150px !important;
  }
  #banner .ban-ri-text h1 {
    
    font-size: 148px !important;
    margin-top: -12px !important;
    margin-right: 150px !important;

    
  }
  #banner .ban-ri-text p{
    padding-right: 150px !important;
    margin-top: -20px !important;
    margin-left: -5px!important;
  }
  
  #banner .ban-ri-text a{
    margin-left: -160px!important;
    margin-top: 10px;
  }
  #banner {
    padding-bottom: 190px !important;
    padding-top: 154px !important;
  }
  .about-banner{
   
    
    transform: translateY(-15%) !important;
} 
 .about-text {
    
    margin-bottom: 30px !important;
  } 
   .about-text {
   
    padding: 20px 0 !important;
  }
   .about-text p{
    padding: 0 !;
  } 
  .game-item{
    margin-top: 30px!important;
  }
  #spin {
    padding-top: 0 !important;
  }
  .spin-img{
    margin-top: 90px !important;
  }
  #faq .less h1{
    margin-top: 50px !important;
  }
  .method .payment {
    
    padding-bottom: 20px !important;
  }
  #footer .socail {
    
    margin-bottom: 29px !important;
  }

  #faq {
    
    padding-top: 50px !important;
    
    
  }
  
  
}

/*=============small device end============*/

/*=============exrta small device start============*/

@media (min-width:300px) and (max-width: 575.98px){
  .navbar {
    
    position: static;
    top: 0;
    left: 0;
    
  }
  .navbar-toggler{
    border-color: #fff;
    margin-right: 10px;
  }
  .navbar-toggler span{
    color: #fff;
  }
  .navbar-nav{
    text-align: center;
    background: #944bff !important;
    padding-bottom: 30px !important;
    padding-top: 50px !important;
  }
  .nav-link{
    background: #fcb100 !important;
  }
  .navbar-nav .silo{
    width: 150px;
    margin-left: 200px !important;
    margin-top: 20px !important;
  }
  .navbar .navbar-nav .last {
    padding-right: 30px !important;
  }
  #banner{
    padding-bottom: 735px!important;
    display: block;
  }
  #banner .ban-left-img {
     margin-top: -100px !important;
     margin-left: 70px; 
    width: 70% !important;
  }
  
  #banner .ban-ri-text{
    text-align: center;
    margin-left: 0 !important;
    width: 100% !important;
  }
  #banner .ban-ri-text span{
    margin-right: 0 !important;
  }
  #banner .ban-ri-text h1 {
    font-size: 137px !important;
    margin-top: -12px !important;
    margin-right: 0 !important;
  }
  #banner .ban-ri-text p {
    padding-right: 20px !important;
    margin-top: -20px !important;
    margin-left: 0px !important;
    padding-left: 20px !important;
  }
  
  #banner .ban-ri-text a{
    margin-left: -3px!important;
    margin-top: 10px;
  }
  #banner {
    padding-bottom: 190px !important;
    padding-top: 154px !important;
  }
  .about-banner{
   
    
    transform: translateY(-15%) !important;
} 
 .about-text {
    
    margin-bottom: 30px !important;
  } 
   .about-text {
   
    padding: 20px 0 !important;
  }
   .about-text p{
    padding: 0 !;
  }
  .game-item{
    margin-top: 30px!important;
  }
  #spin .spin-text h1 {
    
    font-size: 42px !important;
     
   }
   #spin .spin-text p,
   #spin .spin-text .choto
    {
   
    padding-right: 50px !important;
  }
  #faq {
    padding-top: 0 !important;
  }
  #faq .heading h1 {
    margin-top: 50px;
    font-size: 30px !important;
    margin-left: 25px !important;
  }
  .countdown{
    display: block !important;
  }
  .countdown .time {
    
    font-size: 20px !important;
   
  }
  .countdown #count {
    
    margin-bottom: 47px !important;
    margin-top: 25px !important;
    margin-left: 42px !important;
  }
  .countdown .time {
    
    margin-left: 76px !important;
  }
  #count div{
    padding:  0 10px !important;
  }
  .nscroll p .name {
    
    margin-right: 45px !important;
  }
  .nscroll p .dolar {
    
    margin-left: 40px !important;
  }
  .method input {
    width: 270px !important;
  
  }
  
  .method .payment {
    
    padding-bottom: 20px !important;
  }
  .method .payment a {
    margin-right: -3px;
  }
  #footer .socail {
    
    margin-bottom: 29px !important;
  }
  .lastlight .tos-light img{
    bottom: 72px !important;
  }
} 
/*=============exrta small device end============*/