* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
}
.fixed-nav {
  background: #290a59;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  animation: smoothly 1s linear;
}
@keyframes smoothly {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
.navbar {
  background: #150035;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
.navbar .navbar-nav .nav-link {
  font-family: 'Nunito', sans-serif;
  font-weight: 600px;
  font-size: 20px;
  padding-left: 30px;
  margin-top: 8px;
  color: #944bff;
  text-transform: capitalize;
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
.navbar .navbar-nav .nav-link:hover {
  color: #ff39dc;
}
.navbar .navbar-nav .active {
  color: #ff39dc;
}
.navbar .navbar-nav .last {
  padding-right: 20px !important;
}
.navbar .navbar-nav .silo {
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  padding: 15px 30px;
  margin-left: 20px;
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 20px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #9e4efc, #570dc8);
  box-shadow: 0px 6px 0px 0px #3a0090;
  text-shadow: 5px 5px 0px rgba(88, 19, 184, 0.8);
}
.navbar .navbar-nav .silo:hover {
  background: linear-gradient(to bottom, #ff39dc 0%, #a60084 100%);
  box-shadow: 0px 6px 0px 0px #661355;
  text-shadow: 5px 5px 0px rgba(166, 0, 132, 0.8);
}
#banner {
  background: #150035;
  padding-top: 170px;
  padding-bottom: 180px;
  display: flex;
}
#banner .ban-left-img {
  width: 48%;
}
#banner .ban-ri-text {
  margin-left: 80px;
  margin-top: 70px;
  width: 52%;
}
#banner .ban-ri-text span {
  font-family: 'Nunito', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
}
#banner .ban-ri-text h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 305px;
  color: #fcb100;
  background: -webkit-linear-gradient(top, #fdb125 45%, #e07e1e 48%, #fcb100 85%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 35px #4d0148);
  margin-top: -45px;
}
#banner .ban-ri-text p {
  text-align: center;
  color: #fff;
  margin-top: -40px;
  padding-right: 180px;
  padding-bottom: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400px;
  font-size: 16px;
}
#banner .ban-ri-text a {
  padding: 15px 30px;
  margin-left: 20px;
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 20px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #9e4efc, #570dc8);
  box-shadow: 0px 6px 0px 0px #3a0090;
  text-shadow: 5px 5px 0px rgba(88, 19, 184, 0.8);
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  margin-left: 175px;
}
#banner .ban-ri-text a:hover {
  background: linear-gradient(to bottom, #ff39dc 0%, #a60084 100%);
  box-shadow: 0px 6px 0px 0px #661355;
  text-shadow: 5px 5px 0px rgba(166, 0, 132, 0.8);
}
#games {
  padding-bottom: 100px;
  background: #0b001b;
}
#games .about-banner {
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 96%);
  transform: translateY(-50%);
}
#games .about-text {
  box-shadow: inset 10px 0px 50px 0px rgba(31, 7, 67, 0.5);
  background: linear-gradient(to right, #9e4efc 0%, #570dc8 100%);
  padding: 45px 15px;
}
#games .about-text h2 {
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 48px;
  color: #fcb100;
  background: -webkit-linear-gradient(top, #fdb125 45%, #e07e1e 48%, #fcb100 85%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 35px #4d0148);
}
#games .about-text h3 {
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 32px;
  color: #fff;
  text-transform: capitalize;
}
#games .about-text p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  padding: 0 15px;
}
#games .game-heading {
  padding-bottom: 60px;
  margin-top: -30px !important;
}
#games .game-heading h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 48px;
  color: #fcb100;
  background: -webkit-linear-gradient(top, #fdb125 45%, #e07e1e 48%, #fcb100 85%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 35px #4d0148);
  text-transform: capitalize;
}
#games .game-item {
  position: relative;
}
#games .game-item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  transform: scale(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
#games .game-item .overlay h3 {
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  color: #fff;
  padding-bottom: 45px;
}
#games .game-item .overlay a {
  padding: 15px 30px;
  margin-left: 20px;
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 20px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #9e4efc, #570dc8);
  box-shadow: 0px 6px 0px 0px #3a0090;
  text-shadow: 5px 5px 0px rgba(88, 19, 184, 0.8);
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  margin-left: -3px;
  transform: scale(0);
}
#games .game-item .overlay a:hover {
  background: linear-gradient(to bottom, #ff39dc 0%, #a60084 100%);
  box-shadow: 0px 6px 0px 0px #661355;
  text-shadow: 5px 5px 0px rgba(166, 0, 132, 0.8);
}
#games .game-item:hover .overlay {
  transform: scale(1);
}
#games .game-item:hover a {
  transform: scale(1);
}
#spin {
  padding-top: 100px;
  padding-bottom: 40px;
  background: #150035;
}
#spin .spin-text h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 48px;
  color: #fcb100;
  background: -webkit-linear-gradient(top, #fdb125 45%, #e07e1e 48%, #fcb100 85%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 35px #4d0148);
  margin-top: 50px;
}
#spin .spin-text p {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  margin-top: 45px;
}
#spin .spin-text a {
  padding: 15px 30px;
  margin-left: 20px;
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 20px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #9e4efc, #570dc8);
  box-shadow: 0px 6px 0px 0px #3a0090;
  text-shadow: 5px 5px 0px rgba(88, 19, 184, 0.8);
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  margin-left: 0 !important;
  margin-top: 40px;
  display: inline-block;
  margin-top: 50px;
}
#spin .spin-text a:hover {
  background: linear-gradient(to bottom, #ff39dc 0%, #a60084 100%);
  box-shadow: 0px 6px 0px 0px #661355;
  text-shadow: 5px 5px 0px rgba(166, 0, 132, 0.8);
}
#pricing {
  background: #0b001b;
  padding-top: 100px;
  padding-bottom: 110px;
}
#pricing .heading h6 {
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 48px;
  color: #fcb100;
  background: -webkit-linear-gradient(top, #fdb125 45%, #e07e1e 48%, #fcb100 85%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 35px #4d0148);
}
#pricing .pricing-item {
  margin-top: 90px;
  background: linear-gradient(to top, #1e5799 0%, #590fca 0%, #9a4bf9 50%);
  border-radius: 5px;
  position: relative;
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
#pricing .pricing-item:hover {
  transform: translateY(5%);
}
#pricing .pricing-item:hover h2 {
  top: -60px;
  opacity: 1;
}
#pricing .pricing-item h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600px;
  font-size: 20px;
  width: 100%;
  color: #fff;
  padding: 20px 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: linear-gradient(to bottom, #1e5799 0%, #fb36d7 0%, #aa0288 65%);
  border-bottom: 6px solid #661355;
  position: absolute;
  top: -70px;
  left: 0;
  opacity: 0;
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
#pricing .pricing-item h3 {
  padding-top: 60px;
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 32px;
  color: #fff;
}
#pricing .pricing-item h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700px;
  font-size: 50px;
  color: #fff;
  margin-bottom: 0 !important;
}
#pricing .pricing-item p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  font-size: 14px;
  color: #fff;
  border-bottom: 1px solid #6428b4;
  padding-bottom: 30px;
}
#pricing .pricing-item ul {
  margin-top: 25px;
  padding-left: 0 !important;
  padding-bottom: 50px;
}
#pricing .pricing-item ul li {
  font-family: 'Nunito', sans-serif;
  font-weight: 600px;
  font-size: 20px;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
}
#pricing .pricing-item a {
  padding: 15px 30px;
  margin-left: 20px;
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 20px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #9e4efc, #570dc8);
  box-shadow: 0px 6px 0px 0px #3a0090;
  text-shadow: 5px 5px 0px rgba(88, 19, 184, 0.8);
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  margin-left: 0 !important;
  margin-top: 40px;
  display: inline-block;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  bottom: -28px;
  transform: translateX(-50%);
}
#pricing .pricing-item a:hover {
  background: linear-gradient(to bottom, #ff39dc 0%, #a60084 100%);
  box-shadow: 0px 6px 0px 0px #661355;
  text-shadow: 5px 5px 0px rgba(166, 0, 132, 0.8);
}
#faq {
  background: #150035;
  padding-top: 100px;
  padding-bottom: 100px;
}
#faq .heading h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 48px;
  color: #fcb100;
  background: -webkit-linear-gradient(top, #fdb125 45%, #e07e1e 48%, #fcb100 85%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 35px #4d0148);
  font-size: 40px;
  position: relative;
  padding-bottom: 30px;
  border-bottom: 2px solid#070006;
  box-shadow: 0px 1px 0px 0px #2f0a5d;
  margin-bottom: 60px;
}
#faq .heading .faqlight {
  position: relative;
}
#faq .heading .faqlight .faq-light img {
  position: absolute;
  top: -60px;
  left: 0px;
  z-index: 99999;
  animation: faqlight linear 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes faqlight {
  100% {
    margin-left: 90%;
  }
}
.accordion-button:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}
.accordion-button::after {
  display: none;
}
.accordion-item {
  color: #fff;
  background-color: #150035;
  border: 1px solid #fcb100;
  margin-bottom: 20px;
}
.accordion-button {
  position: relative;
  color: #fff;
  background-color: #150035;
}
.accordion-button i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding-right: 30px;
  padding-top: 10px;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #150035;
  border-top: 1px solid #fcb100;
  padding-bottom: 0 !important;
  box-shadow: none;
}
.countdown {
  display: flex;
}
.countdown .time {
  width: 35%;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  margin-right: 10px;
}
.countdown #count {
  width: 65%;
  color: #fff;
  font-size: 20px;
  display: flex;
  margin-bottom: 30px;
  margin-top: -20px;
}
.countdown #count div {
  flex-basis: 200px;
  width: 70px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  text-align: center;
  border: 1px solid yellow;
}
.countdown #count div span {
  color: #fcb100;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  display: block;
}
.countdown #count div span:nth-child(2) {
  color: #fcb100;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
}
.scrolllight {
  position: relative;
}
.scrolllight .scroll-light img {
  position: absolute;
  top: -60px;
  left: 0;
  z-index: 99999;
  animation: scrolllight linear 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes scrolllight {
  100% {
    margin-left: 90%;
  }
}
.nscroll {
  width: 100%;
  height: 320px;
  padding: 20px;
  overflow-x: hidden;
}
.nscroll p {
  color: #fff;
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
  margin: 0 !important;
  border-bottom: 2px solid #290a59;
}
.nscroll p .num {
  padding-right: 5px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400px;
  font-size: 16px;
}
.nscroll p .name {
  font-family: 'Nunito', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  margin-right: 95px;
}
.nscroll p .dolar {
  font-family: 'Nunito', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  margin-left: 130px;
}
.nscroll::-webkit-scrollbar {
  width: 10px;
  height: 320px;
}
.nscroll::-webkit-scrollbar-track {
  background: #000;
  border-radius: 5px;
}
.nscroll::-webkit-scrollbar-thumb {
  width: 10px;
  height: 106px;
  border-radius: 5px;
  background: #1f004f;
}
.method {
  background: linear-gradient(to bottom, #9e4efc, #570dc8);
  box-shadow: 0px 6px 0px 0px #3a0090;
}
.method h1 {
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 32px;
  margin-top: 20px;
  text-shadow: 4px 4px 0px #5813b8;
}
.method input {
  width: 400px;
  background: none;
  border: 1px solid #290a59;
  padding: 12px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.method button {
  width: 50px;
  height: 50px;
  border: 1px solid #290a59;
  border-left: none;
  padding: 10px ;
  background: none;
  margin-left: -5px;
}
.method .payment {
  margin-top: 15px;
}
.method .payment a {
  margin-right: 10px;
}
#footer {
  background: #0b001b;
}
#footer h1 {
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  font-size: 32px;
  margin-top: 50px;
  text-shadow: 4px 4px 0px #ffffff25;
}
#footer p {
  font-family: 'Nunito', sans-serif;
  font-weight: 600px;
  font-size: 20px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  padding-right: 15px;
  text-align: justify;
}
#footer .socail {
  margin-top: 20px;
  margin-bottom: 60px;
}
#footer .socail a {
  font-size: 20px;
  padding: 10px 0;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(to bottom, #9e4efc, #570dc8);
  box-shadow: 0px 6px 0px 0px #3a0090;
  text-shadow: 5px 5px 0px rgba(88, 19, 184, 0.8);
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
#footer .socail a i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
#footer .socail a:hover {
  background: linear-gradient(to bottom, #ff39dc 0%, #a60084 100%);
  box-shadow: 0px 6px 0px 0px #661355;
  text-shadow: 5px 5px 0px rgba(166, 0, 132, 0.8);
}
#footer .link ul {
  padding-left: 0 !important;
}
#footer .link li {
  margin-top: 15px !important;
}
#footer .link li a {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 600px;
  font-size: 20px;
  font-size: 16px;
}
#footer .security img {
  display: block;
  margin-top: 15px;
}
#footer .security h6 {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 600px;
  font-size: 20px;
  font-size: 16px;
  margin-top: 20px;
}
#footer .security .nich {
  margin-top: 55px;
}
.footer-copy {
  background: #0b001b;
  line-height: 70px;
  position: relative;
}
.footer-copy .footer-text {
  border-top: 1px solid #290a59;
  text-align: center;
}
.footer-copy .footer-text span {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 600px;
  font-size: 20px;
  font-size: 16px;
}
.lastlight {
  position: relative;
}
.lastlight .tos-light img {
  position: absolute;
  bottom: 72px;
  left: 10px;
  z-index: 99999;
  animation: light1 linear 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes light1 {
  100% {
    margin-left: 100%;
  }
}
.back-to-top {
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #9e4efc, #570dc8);
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  border: 1px solid  #e07e1e;
  display: none;
  z-index: 99999;
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
.back-to-top:hover {
  background: #e07e1e;
}
.back-to-top i {
  font-size: 30px;
  color: #e07e1e;
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
.back-to-top i:hover {
  color: #570dc8;
}
/*======preloader=======*/
.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: #944bff;
}
.preloader .container-fluid {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1450px;
  max-height: 700px;
}
.spinner {
  top: 50%;
  left: 50%;
  z-index: 1;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  margin-top: -40px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
}
.spinner span {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: block;
  position: absolute;
  opacity: 0.7;
}
.spinner .ball-1 {
  z-index: 4;
  background-color: #815731;
  left: -20px;
  -webkit-transform: translate(50%, 50%) scale(0.5);
  -webkit-animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
  animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
}
.spinner .ball-2 {
  z-index: 3;
  background-color: #323232;
  left: -20px;
  -webkit-transform: translate(50%, 50%) scale(0.5);
  -webkit-animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
  animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
}
.spinner .ball-3 {
  z-index: 2;
  background-color: #d0701f;
  left: -20px;
  -webkit-transform: translate(50%, 50%) scale(0.5);
  -webkit-animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
  animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
}
.spinner .ball-4 {
  z-index: 1;
  background-color: #d0511f;
  left: -20px;
  -webkit-transform: translate(50%, 50%) scale(0.5);
  -webkit-animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
  animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
}
@-webkit-keyframes animateSway {
  0% {
    left: -20px;
  }
  50% {
    left: 20px;
  }
  100% {
    left: -20px;
  }
}
@keyframes animateSway {
  0% {
    left: -20px;
  }
  50% {
    left: 20px;
  }
  100% {
    left: -20px;
  }
}
@-webkit-keyframes animateScale {
  0% {
    -webkit-transform: translate(50%, 50%) scale(0.5);
    z-index: -1;
  }
  25% {
    -webkit-transform: translate(50%, 50%) scale(1);
    z-index: 1;
  }
  50% {
    -webkit-transform: translate(50%, 50%) scale(0.5);
    z-index: -1;
  }
  75% {
    -webkit-transform: translate(50%, 50%) scale(0.25);
    z-index: -2;
  }
  100% {
    -webkit-transform: translate(50%, 50%) scale(0.5);
    z-index: -1;
  }
}
@keyframes animateScale {
  0% {
    transform: translate(50%, 50%) scale(0.5);
    z-index: -1;
  }
  25% {
    transform: translate(50%, 50%) scale(1);
    z-index: 1;
  }
  50% {
    transform: translate(50%, 50%) scale(0.5);
    z-index: -1;
  }
  75% {
    transform: translate(50%, 50%) scale(0.25);
    z-index: -2;
  }
  100% {
    transform: translate(50%, 50%) scale(0.5);
    z-index: -1;
  }
}
